.head {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    color: #78b20c;
    text-shadow: 1px 1px 1px #cbd0d3;
    margin-top: 5px;
}

article, aside, footer {
    
    color: white;
    text-align: center;
  
}


footer {
    background-color: green;
    width: 540px;
    height: 25px;
    color: white;

}

article {
    background-color: #be2ebf;
    width: 320px;
    height: 200px;
}

section {
    background-color: #8e1515;
    height: 70px;
    margin-top: 10px;
    text-align: center;
}

aside {
    background-color: #296982;
    width: 220px;
    height: 160px;
}
